$kendo-color-primary: #8d92ce;
$kendo-color-info: #ff6358;

$kendo-series-a: $kendo-color-primary;
$kendo-series-e: #f5762dff;

$kendo-font-size: 13px;

$kendo-is-dark-theme: true;
$kendo-border-radius: 2px;
$kendo-color-secondary: #f6f6f6;
$kendo-color-success: #5ec232;
$kendo-color-warning: #fdce3e;
$kendo-color-error: #d51923;
$kendo-body-text: #ffffff;
$kendo-body-bg: #000000;
$kendo-subtle-text: #e0e0e0;
$kendo-disabled-text: #d0d0d0;
$kendo-component-text: #ffffff;
$kendo-component-bg: #101010;
$kendo-base-text: #ffffff;
$kendo-base-bg: #151515;
$kendo-hovered-text: #ffffff;
$kendo-hovered-bg: #202020;
$kendo-selected-text: #ffffff;
$kendo-selected-bg: $kendo-color-primary;
$kendo-kendo-button-text: #ffffff;
$kendo-kendo-button-bg: #404040;
$kendo-link-text: $kendo-color-primary;
$kendo-link-hover-text: #d6534a;

@import "~@progress/kendo-theme-default/dist/all.scss";
