$kendo-color-primary: #7a76ce;
$kendo-color-info: #ff6358;

$kendo-series-a: $kendo-color-primary;
$kendo-series-e: #f5762dff;

$kendo-font-size: 13px;

@import "~@progress/kendo-theme-default/dist/all.scss";
